<div class="form @form">
  <div class="container form__container">
    <h2 class="title">Зв'язатися з нами</h2>
    <div class="form__content">
      <form class="form__item-top">
        <input class="form__fields" type="text" id="name" name="name" required placeholder="Ім'я">
        <input class="form__fields" type="tel" id="phone" name="phone" placeholder="Номер телефона" />
        <input class="form__fields" type="email" id="email" name="email" required placeholder="Email">
        <input class="form__fields" type="text" id="goods" name="goods" required
          placeholder="Зацікавлений товар/послуга">
        <textarea class="form__fields" id="message" name="message" required placeholder="Повідомлення"></textarea>
      </form>
      <div class="form__image">
        <img class="form__img" src="../img/form/man.jpg" alt="Man">
      </div>
    </div>
    <div class="form__checkbox">
      <div class="form__marker">
        <svg width="20" height="20" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.63415 4.27303C1.26032 3.92486 0.654212 3.92486 0.280376 4.27303C-0.0934588 4.62119 -0.0934588 5.18568 0.280376 5.53385L3.66482 8.6859C4.03983 9.03516 4.64826 9.0339 5.0216 8.68309L12.6457 1.51914C13.0179 1.16943 13.0152 0.604946 12.6397 0.25833C12.2642 -0.0882854 11.6581 -0.0857781 11.2859 0.263931L4.3387 6.79186L1.63415 4.27303Z"
            fill="#333333" />
        </svg>
      </div>
      <p class="form__subtitle">Надсилаючи заявку Ви погоджуєтесь
        з політикою <br>
        конфіденційності
      </p>
    </div>
    <div class="form__item-bottom">
      <button class="button form__btn">ВІДПРАВИТИ
        <div class="arrow form__arrow-btn">
          <svg width="30" height="15" viewBox="0 0 19 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.935211 4.5C0.935211 4.22386 1.15907 4 1.43521 4L17.4352 4C17.7114 4 17.9352 4.22386 17.9352 4.5C17.9352 4.77614 17.7114 5 17.4352 5L1.43521 5C1.15907 5 0.935211 4.77614 0.935211 4.5Z"
              fill="#fff" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M13.5817 0.646447C13.7769 0.451184 14.0935 0.451184 14.2888 0.646447L18.1423 4.5L14.2888 8.35355C14.0935 8.54882 13.7769 8.54882 13.5817 8.35355C13.3864 8.15829 13.3864 7.84171 13.5817 7.64645L16.7281 4.5L13.5817 1.35355C13.3864 1.15829 13.3864 0.841709 13.5817 0.646447Z"
              fill="#fff" />
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
