<header class="header @header">
  <div class="container header__container ">
    <div class="content header__content">
      <div class="logo header__logo">
        <img src="../img/header/logo.png" alt="Logo">
        <h1 class="header__title">DIGITAL PROJECT</h1>
      </div>
      <ul class="header__nav">
        <li class="header__list"><a class="header__link active" href="#!">ГОЛОВНА</a></li>
        <li class="header__list"><a class="header__link" href="#!">ГАЛЕРЕЯ</a></li>
        <li class="header__list"><a class="header__link" href="#!">ПРОЄКТИ</a></li>
        <li class="header__list"><a class="header__link" href="#!">СЕРТИФІКАТ</a></li>
        <li class="header__list"><a class="header__link" href="#!">КОНТАКТИ</a></li>
      </ul>
      <div class="burger header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
