<div class="task @task">
  <div class="container task__container">
    <h2 class="title task__title">Основні задачі</h2>
    <div class="task__content">
      <div class="task__item" data-count="1">
        <p class="task__subtitle">
          Створення комфортних умов і підвищення
          якості обслуговування клієнтів
        </p>
      </div>
      <div class="task__item" data-count="2">
        <p class="task__subtitle">
          Постійно вдосконалювати якість наданих послуг
          шляхом навчання персоналу,
          закупки нового обладнання та посиленої реклами на ринку
        </p>
      </div>
    </div>
  </div>
</div>
