  // base
  $font-family-1: "Open Sans", sans-serif;
  $font-family-2: "TT Hoves", sans-serif;
  $font-family-3: "Chakra Petch", sans-serif;
  $content-width: 1130px;
  $container-land: 40px;
  $container-width: calc($content-width + $container-land * 2);

  // colors
  $black-color: #000;
  $dark-color: #333;
  $gray-color: #BDBDBD;
  $mid-gray-color: #F3F3F3;
  $white-color: #fff;
